body, html {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
	text-transform: uppercase;
}
#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	z-index: 1;
}
#page-wrapper {
	position: relative;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
	width: 70%;
	margin: 0 auto;
	padding: 25px;
/* 	min-height: 2000px; */
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}
nav {
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	width: 66%;
	height: 10%;
}
nav li {
	display: inline-block;
	float: left;
	margin: 15px 20px;
	text-transform: uppercase;
	color: #fff;
}
nav .logo {
	margin-right: 30%;
	font-weight: bold;
	color: aquamarine;
}
section {
	margin-block-start: 10%;
	width: 90%;
	text-align: justify;
	margin-left: 5%;
}
